* {
  margin: 0;
  padding: 0;
}
:root {
  --shadow-color: #555;
  --main-color: #0db95d;
  --winner-color: #26936f;
  --back-color: #efc69080;
  --light-color: #efc690;
  background-color: var(--back-color);
  font-family: cursive;
}

.grid {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
header {
  font-size: 52px;
  text-align: center;
  color: var(--main-color);
  text-shadow: 5px 2px 1px var(--shadow-color);
  font-weight: bold;
  padding: 15px;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.cell {
  color: var(--main-color);
  text-shadow: 3px 2px 1px var(--back-color);
  font-size: 42px;
  background-color: var(--shadow-color);
  padding: 36px;
  text-align: center;
}
.cell:hover {
  background-color: #26936f62;
  cursor: pointer;
  transition: 0.3s;
}
.no-hover:hover {
  background-color: #555;
}
.appear-up {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  color: var(--winner-color);
  text-shadow: 3px 2px 1px #efc690;
  background-color: rgba(68, 68, 68, 0.86);
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.7s ease-in-out;
  font-size: 52px;
}
.show-up {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  color: var(--winner-color);
  text-shadow: 3px 2px 1px #efc690;
  background-color: rgb(68, 68, 68);
  text-align: center;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.7s ease-in-out;
  font-size: 52px;
}
.winner {
  font-size: 100px;
  text-shadow: 3px 2px 1px #ea8d15;
}
.btn {
  padding: 10px;
  color: var(--winner-color);
  text-shadow: 3px 2px 1px #efc690;
  background-color: rgba(247, 230, 199, 0.823);
  text-align: center;
  font-size: 26px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover,
.btn:link {
  transform: scale(1.2);
  color: red;
}
.starter {
  text-align: center;
}
input {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--shadow-color);
  color: rgba(247, 230, 199, 0.823);
  font-size: 24px;
}
.who-vs-who {
  font-size: 32px;
  text-align: center;
  color: var(--main-color);
  text-shadow: 1px 2px 1px var(--shadow-color);
}
